* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;

    background: url('./coffee.png')no-repeat center;
    background-size: cover;
}

main {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px 0;
    background: rgba(255, 237, 213, 0.5);
}

ul {
    list-style: none;
}

h1, h2, h3, .price {
    font-family: 'Charm', cursive;
    color: #2D2C2A;
}

header {
    padding: 32px 0;
    text-align: center;
}

header h1 span {
    color: #995000;
}

header p {
    font-size: 14px;
    line-height: 16px;
    
    color: rgba(0, 0, 0, 0.7);
}

header, section{
    max-width: 300px;
    margin: 0 auto;
}

header h1 {
    text-transform: uppercase;
    margin-bottom: 4px;
    font-size: 38px;
    line-height: 33px;
}

section + section {
    margin-top: 24px;
}

section h2 {
    text-transform: uppercase;

    background-color: #FED7AA;
    padding: 8px 16px;
    text-align: center;

    margin-bottom: 24px;
    font-size: 18px;
}

ul li {
    display: flex;
}

ul li + li {
    margin-top: 16px;
}

li.details {
    max-width: 240px;
}

.details h3 {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 19px;
}

.details p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 21px;
}


